.container-home {
    width: 1200px;
    margin: auto;
}

#btnCadastrar {
    background-color: rgb(194, 46, 75);
    height: 40px;
    border: 1px solid gray;
    font-weight: 500;
    cursor: pointer;
}

.tabela-produtos {
    margin: auto;
    margin-bottom: 30px;
}

table {
    border: 2px black solid;
}

.container-addprod {
    padding-top: 70px;
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
    width: 100%;
}
.container-addprod input {
    margin-bottom: 10px;
    margin-right: 10px;
    height: 30px;
    width: 300px;
}

.container-addprod button {
    margin-bottom: 10px;
    height: 30px;
    background-color: rgb(194, 46, 75);
    border: 1.5px solid;
    font-size: 15px;
    font-weight: bold;
}

.container-addprod span {
    float: right;
}